@media only screen and (min-width: 600px) {

	.App {
		text-align: left;
		color: white;
		/* background-color: black; */
		position: fixed;
		width: 100%;
		height: 100%;
	}

	.whiteKey {
		background-color: white;
		width: 100%;
		height: 100%;
		display: inline-block;
		border-radius: 3px;
		pointer-events: all;
	}

	.whiteKey:hover {
		cursor: pointer;
		background-color: rgb(161, 161, 161);
	}

	.whiteKeyPressed {
		background-color: rgb(255, 0, 255);
		height: 100%;
		width: 100%;
		display: inline-block;
		border-radius: 3px;
		pointer-events: all;
	}

	.whiteKeyPressed:hover {
		cursor: pointer;
		background-color: rgb(240, 103, 255);
	}

	.blackKey {
		background-color: rgb(40, 40, 40);
		width: 100%;
		height: 50%;
		display: inline-block;
		border-radius: 3px;
		pointer-events: all;
	}

	.blackKey:hover {
		cursor: pointer;
		background-color: rgb(72, 72, 72);
	}

	.blackKeyPressed {
		background-color: rgb(255, 0, 255);
		height: 50%;
		width: 100%;
		display: inline-block;
		border-radius: 3px;
		pointer-events: all;
	}

	.blackKeyPressed:hover {
		cursor: pointer;
		background-color: rgb(240, 103, 255);
	}

	.fakeKey {
		background-color: rgb(40, 40, 40);
		width: 100%;
		height: 100%;
		display: inline-block;
		border-radius: 3px;
		pointer-events: all;
		visibility: hidden;
		z-index: -5;
	}

	.blackKeyContainer {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 2;
		pointer-events: none;
		display: flex;
	}

	.whiteKeyContainer {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 1;
		pointer-events: none;
		display: flex;
	}

	.octaveContainer {
		height: 100%;
		width: 100%;
		position: relative;
	}

	.pianoContainer {
		position: absolute;
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		height: 33%;
		top: 33%
	}

	.chordInfo {
		color: orange;
		font-size: xx-large;
		position: absolute;
		height: 33%;
		width: 100%;
		top: 66%;

	}

	.controlsContainer {
		position: absolute;
		height: 33%;
		width: 100%;
	}

	.controlsText {
		font-size: xx-large;
		color: rgb(255, 202, 103);
		font-style: bold;
		padding: 3px;
	}

	.controlsButton {
		background-color: rgb(163, 36, 226);
		color: rgb(226, 226, 226);
		font-size: large;
		height: 33px;
		width: 133px;
		border-radius: 10px;
	}

	.controlsCheckbox {
		accent-color: rgb(229, 145, 81);
		transform: scale(1.5);
		padding-left: 5px;
		bottom: 2px;
		position: absolute;
	}

	.controlsSlider {
		accent-color: rgb(167, 53, 255);
		position: absolute;
	}

	.mostLikely {
		color: rgb(255, 53, 255);
		font-size: 55px;
	}

	.possibleChords {
		color: rgb(179, 69, 234);
		font-size: 40px;
	}

}

